@Def-color: rgba(50, 58, 70, .8);

.a10-dropdown {

  .ant-col.ant-col-8 {
    max-width: 100px;

    .ant-dropdown-link,
    .dropdown-icon {
      font-size: 13px;
      // color: @Def-color;
      margin-left: 5px;

      .anticon.anticon-down {
        width: 7px;
        height: 7px;
        // color: @Def-color;
      }
    }

    .dropdown-menu {
      a {
        color: @Def-color;
      }

      a:hover {
        color: #348cd4;
      }
    }
  }


}
