@Def-color: rgba(50, 58, 70, .8);

.a10-dropdown {

  .ant-col.ant-col-8 {
    max-width: 130px;
    width: auto;

    .ant-dropdown-link,
    .dropdown-icon {
      font-size: 13px;
      // color: @Def-color;
      margin-left: 5px;
      margin-right: 5px;
    }

    .dropdown-menu {
      a {
        color: @Def-color;
      }

      a:hover {
        color: #348cd4;
      }
    }
  }

  .ant-dropdown-menu-submenu-title {
    .anticon {
      margin-right: 5px;
    }
  }

}
