// form.ant-form.ant-form-horizontal {
//   padding: 22px !important;
//   border: 1px solid #ddd;
//   border-radius: 4px;
//   margin: 10px;
// }

// // .ant-form-item {
// //   padding: 22px;
// // }

// .ant-col {
//   flex: 1;
// }

#drawingboard {

  #uiengine-container {
    padding: 25px;
    overflow: auto;


  }

  .with-datasource {
    #uiengine-container {
      padding: 0;

    }
  }

  .ant-form-item-children {
    .ant-input {
      overflow: hidden;

      white-space: nowrap;

      text-overflow: ellipsis;


    }
  }

  .ant-select-enabled {
    width: 100%
  }

  .preview-wrapper {
    position: relative;

    >.info {
      display: none;
      color: #aaa;
      font-size: 12px;
    }

    &.over {
      >.info {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 100;

        &:hover {
          color: #1890ff;
          font-weight: bold;
        }
      }
    }
  }
}
