form.ant-form.ant-form-horizontal {
  padding: 22px !important;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 10px;
}
.ant-form-item {
  padding: 22px;
  background: #dd0099;
}

.ant-col {
  flex: 1;
}
