.my-table {
  display: table;
  width: 100%;
  background: #fff;
}

.my-table-row-group {
  display: table-row-group;
}

.wrapper {
  .my-table-row {
    display: flex;

    // for ide
    >.wrapper {
      display: flex;
      flex: 1;

      >.my-table-col {
        width: 100%;
        min-height: 55px;
      }
    }
  }
}

.my-table-col-group {
  display: table-column-group;
}

.my-table-col {
  display: table-cell;
  // border: 1px solid gray;
}

.my-table-head {
  display: table-header-group;
}

.my-table-body {

  >.wrapper {
    display: table-row;
  }
}

.my-table-foot {
  display: table-footer-group;
}
