.component-action {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 10px;
  z-index: 100;
  background: #ffffff5e;
  height: 20px;
  line-height: 20px;
  padding: 0 5px;
  color: #ccc;

  &:hover {
    background: #0779e2;
    color: #fff;
    z-index: 200;
  }
}

.wrapper {
  border: 1px dashed rgba(0, 0, 0, 0.45);
  background: #fff;
  padding: 5px;
  margin: 5px;
  overflow: hidden;
  position: relative;
  flex: 1;
  min-height: 50px;
}

.ide-wrapper-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ide-wrapper-col {
  min-height: 50px;
  flex: 1;
}
