.component-action {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 10px;
  z-index: 100;
  background: #ffffff5e;
  height: 20px;
  line-height: 20px;
  padding: 0 5px;
  color: #7699bf;

  &:hover {
    background: #0779e2;
    color: #fff;
    z-index: 200;
  }
}

.wrapper {
  border: 3px solid transparent;
  background: #fafafa;
  padding: 5px;
  margin: 5px;
  overflow: hidden;
  position: relative;
  min-height: 50px;
  box-shadow: #98a1ab 0px 0px 2px;
  flex: 1;
  &.with-datasource {
    background: #d2eec4;
  }

  &.wrapper-hover {
    border: 3px solid #0779e2d9;
    background: #0779e2d9;
    color: #fff;
    .wrapper {
      // animation: scaleIn 8s 1 forwards;
      box-shadow: #0779e2 0px 3px 10px;
      // animation-delay: 2s;
    }

    > .component-action {
      border: 1px solid #0779e2;
      background: #0a386b;
      color: #fff;
      z-index: 201;
    }
  }

  &.wrapper-out {
    // .wrapper {
    //   animation: scaleOut 1s 1 forwards;
    // }
  }

  &.wrapper-edit {
    background: #21ad57c4;
    border: 3px solid #087e2687;
    > .component-action {
      border: 1px solid #087e2687;
      background: #087e2687;
      color: #fff;
      z-index: 201;
    }
  }
  &.wrapper-edit-animation {
    animation: 1s 1 ease forwards bouncein;
  }

  &.wrapper-dropped {
    animation: 1s 1 ease forwards bouncein;
  }

  &.node-wrapper-over {
    > .component-action {
      background: #f00;
      color: #fff;
      z-index: 201;
    }
  }

  &.wrapper-collapsed {
    // background: #0a386b;
    height: 10px;
    background: #e6f7ff;
    border: 3px solid #e6f7ff;
    // animation: 1s 1 ease forwards slideUp;
    .wrapper {
      display: none;
    }
  }

  &.wrapper-down {
    animation: 1s 1 ease forwards slideDown;
  }

  .schema-wrapper-over {
    > .component-action {
      background: rgb(26, 82, 1);
      color: #fff;
      z-index: 201;
    }
  }
}

.ide-wrapper-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ide-wrapper-col {
  min-height: 50px;
  flex: 1;
}

// should remove, since customer side
.editor {
  // .ant-row {
  //   display: flex;
  //   justify-content: left;
  // }

  .ant-col {
    flex: 1;
  }
}
