.ide-editor {
  display: flex;
  height: ~'calc(100% - 60px)';

  &.show-max {
    height: 100%;
  }

  .ant-tabs {
    width: 100%;
  }

  .manager {
    // &.active {
    //     display:block;
    //     animation: antSlideLeftIn 2s;
    // }
    // &.deactivate {
    //     animation: antSlideLeftOut 2s;
    // }
    height: 100%;
    overflow: hidden;
    background: #fff;
    min-width: 300px;
    width: 300px;
    // height: 800px;
    border-right: 1px solid #ccc;
    // border-bottom: 1px solid #ccc;
    .refactorAntTabs();

    .widgets {
      clear: both;
      height: ~'calc(100% - 242px)';

      .ant-tabs {
        height: 100%;
      }
    }

    .pages {
      clear: both;
      position: relative;

      .ant-tabs-tabpane {
        min-height: 200px;
        max-height: 400px;
      }

      .closeButton();

      .pagetree {
        overflow: auto;
        height: 300px;
      }
    }
  }
}
