.ide-editor {
  display: flex;
  height: ~"calc(100% - 60px)";

  &.show-max {
    height: 100%;
  }

  .ant-tabs {
    width: 100%;
  }

  .manager {
    // &.active {
    //     display:block;
    //     animation: antSlideLeftIn 2s;
    // }
    // &.deactivate {
    //     animation: antSlideLeftOut 2s;
    // }
    height: 100%;
    overflow: hidden;
    background: #fff;
    min-width: 300px;
    width: 300px;
    // height: 800px;
    border-right: 1px solid #ccc;
    // border-bottom: 1px solid #ccc;
    .refactorAntTabs();

    .widgets {
      clear: both;
      height: ~"calc(100% - 242px)";

      .ant-tabs {
        height: 100%;
      }
    }

    .pages {
      clear: both;
      position: relative;

      .ant-tabs-tabpane {
        min-height: 200px;
        max-height: 400px;
      }

      .closeButton();

      .pagetree {
        overflow: auto;
        height: 220px;
      }
    }
  }
}

// tree node status,
// file status
.node-modified-removed {
  text-decoration: line-through;
  color: #f5222d;
}

.node-modified-new {
  color: #52c41a;
}

.node-modified-changed {
  color: #faad14;
}

.node-modified-renamed {
  color: #fa14ee;
}


.ant-tree.ant-tree-directory>li span.ant-tree-node-content-wrapper>span,
.ant-tree.ant-tree-directory .ant-tree-child-tree>li span.ant-tree-node-content-wrapper>span {
  float: left;
}

.ant-tree-treenode-selected {
  >span.ant-tree-switcher {
    color: #fff;

    .anticon {
      color: #1890ff;
    }
  }

  .ant-tree-treenode-selected {
    width: fit-content;
  }
}

.ant-tree-node-selected>.ant-tree-title {
  .node-title {
    color: #fff;
  }
}
