@import "./motion.less";
@import "./mixins.less";
@import "./DrawingBoard.less";
@import "./Designer.less";
@import "./PropManager.less";
@import "./Libraries.less";
@import "./Header.less";
@import "./CodeEditor.less";
@import "./widgets.less";
@import "../Designer/DataSource/styles/DataSource.less";

// @import "../prop/styles/index.less";
body {
  background: #333;
  overflow: hidden;
}

.ide-show {
  width: 12px;
  height: 40px;
  line-height: 33px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  text-align: center;
  padding-top: 5px;
  z-index: 1000;
  background-color: #1e1e13;

  &:hover {
    background: #ececec;
    width: 36px;
  }
}

.tabs {
  display: flex;

  .tab {
    flex: 1;
    padding: 10px;

    &.on {
      border-bottom: 3px solid #015478;
    }
  }
}

.node-title {
  display: block;

  svg {
    width: 16px !important;
    height: 16px !important;
    display: none;
    margin-left: 10px;
  }

  &:hover {
    svg {
      display: inline-block;
    }
  }

  img {
    width: 18px;
    height: 18px;
    border-radius: 3px;
    padding: 3px;
    margin-left: 5px;
  }
}

#root {
  height: 100%;
}

.uiengine-container {
  min-height: 200px;
  background: #ececec;
}


.tour-tips {
  .icon {
    color: #ff9800;
    font-size: 20px;
    margin-top: 12px;
  }

  .tip {
    font-size: 18px;
    color: #4096ff;
  }

  .describe {
    font-size: 16px;
  }
}
