.ide-libraries {
  height: 100%;
  padding: 5px;
  .search-bar {
    padding: 10px;
    .ant-btn {
      margin-left: 10px;
    }
    .ant-input-search {
      padding: 0;
      width: 100%;
      .ant-input {
        border-radius: 20px;
      }

      .ant-input-suffix {
        width: 24px;
      }
    }
  }

  .library-panel {
    overflow: auto;
    height: calc(100% - 90px);
  }

  .ant-collapse {
    .collapseOveride();
    .ant-collapse-content-box {
      padding: 8px;
    }
    .list {
      display: flex;
      flex-wrap: wrap;
      .component {
        width: 80px;
        text-align: center;
        margin: 2px;
        border-radius: 3px;
        padding: 5px;
        .title {
          font-size: 12px;
        }

        &:hover {
          animation: forwards 2s 1 componentOver;
        }
        .anticon {
          border: 1px solid #eee;
          padding: 5px;
          background: #eee;
          &:hover {
            background: #fffab8;
          }
          svg {
            font-size: 60px;
          }
        }

        img {
          width: 70px;
          height: 70px;
          padding: 5px;
          background: #ccc;
          opacity: 0.5;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
