.ide-libraries {
  height: 100%;
  padding: 5px;

  .search-bar {
    padding: 10px;

    .ant-btn {
      margin-left: 10px;
    }

    .ant-input-search {
      padding: 0;
      width: 100%;

      .ant-input {
        border-radius: px;
      }

      .ant-input-suffix {
        width: 24px;
        right: 0;
      }
    }
  }

  .library-panel {
    overflow: auto;
    height: calc(100% - 110px);
  }

  .ant-collapse {
    .collapseOveride();

    .ant-collapse-content-box {
      padding: 8px;
    }

    .list {
      display: flex;
      flex-wrap: wrap;

      .component {
        &.open {
          background: #fcdb99;
          border-radius: 5px;

          .list {
            display: flex;
            flex: 1;
          }
        }

        display: flex;
        text-align: center;
        margin: 3px 0;

        .body {
          float: 1px;
          width: 80px;
          margin: 2px;
          border-radius: 3px;
          padding: 5px;
          position: relative;

          .title {
            font-size: 12px;
          }

          &:hover {
            background: #fdf3e0;

            .anticon {
              &.anticon-caret-down,
              &.anticon-caret-up {
                svg {
                  color: rgba(24, 144, 255, 0.8);
                }
              }
            }

            // animation: forwards 2s 1 componentOver;
          }

          .anticon {
            border: 1px solid #eee;
            padding: 5px;
            background: #eee;

            &:hover {
              background: #fffab8;
            }

            svg {
              font-size: 60px;
            }

            &.anticon-caret-down,
            &.anticon-caret-up {
              background: transparent;
              border: 0;
              top: 0;
              right: 0;
              position: absolute;

              svg {
                font-size: 12px;
                color: rgba(24, 144, 255, 0.2);
              }
            }
          }
        }

        img {
          width: 70px;
          height: 70px;
          padding: 5px;
          background: #ccc;
          opacity: 0.5;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
