@keyframes showProps {
  0% {
    opacity: 0;
    // transform: scale(0.5) !important;
  }
  // 20% {
  //   opacity: 0.9;
  //   // transform: scale(1.1) !important;
  // }
  // 50% {
  //   opacity: 0.3;
  //   // transform: scale(0.8) !important;
  // }
  100% {
    opacity: 1;
    // transform: scale(1) !important;
  }
}

.ide-editor {
  .props {
    &.showout {
      animation: showProps 1s ease 1 forwards;
    }
    z-index: 1000;
    position: absolute;
    right: 10px;
    top: 50px;
    width: 450px;
    background: rgba(240, 243, 246, 0.87) !important;
    border: 1px solid #cccccc;
    box-shadow: 3px 3px 12px #000;
    // .refactorAntTabs();
    // .closeButton();
    // .collapseOveride();
    h3 {
      text-align: center;
      font-weight: 100;
      color: #aaa;
      margin: 5px;
    }
    .close-button {
      background: #e00d0d;
      width: 18px;
      height: 18px;
      border-radius: 3px;
      color: #fff;
      margin: 15px;
      text-align: center;
      float: right;
      .anticon-close {
        vertical-align: top;
        margin-top: 2px;
      }
    }
    .ant-collapse-icon-position-left {
      margin: 15px;
      .ant-collapse-header {
        padding: 9px 16px;
        padding-left: 40px;
      }
    }

    .list {
      padding-left: 15px;
      .input-item {
        display: flex;
        .input-label {
          flex: 0.1;
          padding-right: 10px;
        }
        .input {
          * {
            height: 24px;
            line-height: 1;
            margin: 0px 5px 10px 5px;
            border-radius: 0;
            border-color: #ccc;
          }
        }
      }
    }

    .ide-debugger {
      padding: 10px 20px;
      border-top: 1px solid #eee;
    }

    .ant-form-item {
      margin-bottom: 10px;
      margin-right: 10px;
    }

    .ant-form-item-control {
      line-height: inherit;
    }

    .ant-input {
      height: 24px;
    }

    .ant-form-item-label {
      line-height: inherit;
    }

    .component-select.ant-select {
      margin-left: 150px;
      margin-top: 10px;
      margin-bottom: 0;
      font-size: 18px;
      .ant-select-selection {
        width: 200px;
        border: 0;
        background: transparent;
      }
    }

    .prop-title {
      line-height: 44px;
      color: rgba(0, 0, 0, 0.45);
      font-weight: bold;
      text-align: left;
      padding-left: 12px;
    }
  }
}
